@model Application.EntitiesModels.Models.Auth.ForgotPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Program> Localizer

<form id="formForgotPassword" style="display: none;" asp-controller="Account" asp-action="ForgotPasswordMVC" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input id="forgotEmail" class="form-control" asp-for="Email" autocomplete="off">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="link" data-toggle="RememberPassword">@Localizer["IRecallMyPassword"].Value</a>
    </div>
    <div class="form-group m-b-0">
        <button type="submit" class="btn btn-primary" data-toggle="buttomResetPassword">
            @Localizer["Send"].Value
        </button>
    </div>
</form>