@model Application.EntitiesModels.Models.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Program> Localizer

<form id="formLogin" asp-controller="Account" asp-action="LoginMVC" method="post" asp-route-returnUrl=@Model.ReturnUrl class="m-t-10">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input id="loginEmail" class="form-control" asp-for="Email" autocomplete="off">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input id="loginPassword" asp-for="Password" class="form-control" autocomplete="off" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
        </label>
    </div>
    <div class="form-group">
        <a class="link" data-toggle="ForgotPassword">@Localizer["ForgotPassword"].Value</a>
    </div>
    <div class="form-group m-b-0">
        <button type="submit" class="btn btn-primary">
            @Localizer["Enter"].Value
        </button>
    </div>
</form>

@{await Html.RenderPartialAsync("_ForgotPassword", new Application.EntitiesModels.Models.Auth.ForgotPasswordModel());}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(function () {
        var formLogin = $('#formLogin');
        var formForgotPassword = $('#formForgotPassword');

        $('a[data-toggle="ForgotPassword"]').click(function (event) {
            formLogin.hide();
            formForgotPassword.show();
        })

        $('a[data-toggle="RememberPassword"]').click(function (event) {
            formLogin.show();
            formForgotPassword.hide();
        })
    })

    $('a[data-toggle="ForgotPassword"]').on("click", function () {
        let loginError = $('#loginError');
        loginError.remove();
    })
</script>