<div class="panel-categories pagesPanel" id="pagesPanel">
    <div class="row">
        <div class="col-md-3 d-flex justify-content-start">
            <div class="page-nav">
                <div id="firstPage" numberPage="1"><i class="fa fa-angle-double-left"></i></div>
                <div id="prevPage"><i class="fa fa-angle-left"></i></div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div id="allPages" class="page-nav">
                @* Here our pages will be inserted *@
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <div class="page-nav">
                <div id="nextPage"><i class="fa fa-angle-right"></i></div>
                <div id="lastPage"><i class="fa fa-angle-double-right"></i></div>
            </div>
        </div>
    </div>
</div>