
.brandName{  
    width: 100%;
    height: 60px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);     
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 1%;
}
.brandName> div {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.brandName svg{    
    font-size:16px;    
}
.brandName .newGOWIcon svg{  
    color:green;    
}
.brandName svg:hover{
    cursor: pointer;
}
.brandContainer{
    width:30%;
    padding: 10px;
}

  
   
