<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{title || 'Confirm'}}</h4>
        </div>
        <div class="modal-body">
            <div class="">
                <img src="{{base64Image}}" />               
            </div>
            <input type="file" ng2FileSelect [uploader]="uploader"  />                   
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="confirm()" [disabled]="!isAddingEnabled">Add</button>
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
        </div>
    </div>
</div>