<div class="modal"  id="BoostrapModal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="color:#434a54;">
            <div class="modal-header">
                <h2 id="modalHeader"></h2>
                <button type="button" class="close" data-dismiss="modal" id="BoostrapModalButton">
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">              
            </div>
        </div>
    </div>
</div>
