@model Application.EntitiesModels.Models.QueryModels.QueryWaresModel
   
@foreach(var item in Model.Result)
{
    <div class="product-list-content" style="text-align:center">
        <div class="product-media">
            <figure><a href="#"> <img src=" " class="loadImage" data-imageUrl="@item.WareImage" alt="pr-h2" width="182" height="213" /></a></figure>
        </div>
        <a href="#" class="feature-slide-name">@item.Name</a>
        <p class="feature-slide-cost"><span class="price">@item.Price UAH</span></p>
        <ul class="product-item-actions">                    
            <li><a href="#"><i class="flaticon-commerce"></i></a></li>
        </ul>
    </div>
}        



