<div class="detail-dwp-wrap" name="block_delivery" style="visibility: visible; zoom: 1; opacity: 1;">

    @*<article class="detail-dwp-i clearfix">
        <p class="detail-dwp-title">
            Продавец этого товара
        </p>
        <div class="detail-dwp-merchant clearfix" name="seller_block" seller_id="5" popup_layout="bottom">
            <div class="detail-dwp-merchant-logo pos-fix">
                <span class="detail-dwp-merchant-logo-i responsive-img"><img src="https://i1.rozetka.ua/sellers/1/1724.jpg" width="120" height="30" alt="Rozetka" title="Rozetka"></span>
            </div>
        </div>
    </article>*@

    <div name="delivery_popup_parent">
        <div class="detail-dwp" name="delivery_div" data-detail-dwp="Товар недоступен">
            <div id="delivery_details_info0"></div>   <article class="detail-dwp-i">
                @*<header class="clearfix">
                        <p class="float-lt detail-dwp-title">
                            Доставка
                            <a href="#" class="info" name="delivery_info">
                                    <img class="sprite info-icon" src="https://i.rozetka.ua/design/_.gif" width="14" height="15" alt="Подробнее">
                                </a>
                        </p>
                        <div class="float-rt detail-dwp-delivery-city">
                                <a class="novisited sprite-side detail-dwp-delivery-link" name="delivery_city" href="#" onclick="document.fireEvent('clickToPopupCity', {extend_event: [{name:'userCityId', value: 0}, {name:'eventLocation', value:'ProductPage'}]});">
                                    <span class="xhr">Выберите город</span>
                                </a>
                            </div>
                    </header>*@
                <section class="detail-dwp-subi">
                    <p class="detail-dwp-title"><strong>Доставка</strong></p>
                    <p class="detail-dwp-subi-title">По Днепру:</p>
                    <p class="detail-dwp-note"> - cамовывоз из нашего магазина</p>
                    <p class="detail-dwp-note"> - курьером по адресу</p>
                </section><section class="detail-dwp-subi">
                    <p class="detail-dwp-subi-title">В регионах:</p>
                    @*<ul class="detail-dwp-l">
                        <li class="clearfix detail-dwp-l-i">*@
                            <div class="block aligned-left">− самовывоз из точки выдачи</div><div class="block aligned-left">
                                − из пункта службы доставки
                            </div>
                            <div class="block aligned-left">
                                − курьером по адресу
                            </div>
                        @*</li>
                    </ul>*@
                </section>
            </article>
            <article class="detail-dwp-i">
                <p class="detail-dwp-title">
                    <strong>
                        Оплата
                    </strong>
                    <a href="#" name="payment_info" class="info">
                        <img class="sprite info-icon" src="https://i.rozetka.ua/design/_.gif" width="14" height="15" alt="Подробнее">
                    </a>
                </p>
                <p class="detail-dwp-note">
                    Наличными, Безналичными, Кредит, Visa/MasterCard, Мгновенная рассрочка, WebMoney
                </p>
            </article>
            <article class="detail-dwp-i">
                <p class="detail-dwp-title">
                    <strong>
                        Гарантия
                    </strong>
                    <a href="#" name="guarantee_info" class="info"> <img class="sprite info-icon" src="https://i.rozetka.ua/design/_.gif" width="14" height="15" alt="Подробнее"> </a>
                </p>
                <p class="detail-dwp-note">
                    12 месяцев&nbsp;
                </p>
                <p class="detail-dwp-note">
                    обмен/возврат товара в&nbsp;течение 14&nbsp;дней
                </p>
            </article>
            <article class="detail-dwp-i hidden" name="bonus_applying_info">
                <p class="detail-dwp-title">
                    Бонусный счет
                </p>
                <p class="detail-dwp-note">
                    В настоящий момент использование бонусов на данный товар недоступно
                </p>
            </article>
        </div>
    </div>

</div>

