<div id="chatButton" class="pulse">
    <i class="fa fa-commenting-o"></i>
</div>

<div id="chatWindow" class="panel panel-default chat-frame" style="display: none">
    <div class="panel-heading">
        Начало диалога в <span id="chatStartedTime"></span>
        <button id="closeChat" class="btn btn-primary-outline closeChat">X</button>
        <button id="collapseChat" class="btn btn-primary-outline closeChat">__</button>
    </div>
    <div id="panelChat" class="panel-body">
        <div id="chatBody" class="chat-body">
        </div>
        <textarea id="msgContent" ></textarea>
        <button id="sendMsg" class="btn btn-primary-outline send" disabled><i class="fa fa-paper-plane fa-2x"></i></button>
    </div>
</div>